* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-column-gap: 5px;
    grid-row-gap: 12px;
}

.item {
    background-color: aqua;
    border: 1px solid red;
}

.four {
    /* move the 4 item to 2nd item postion */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.six {
    /* move the 6 item to 1 st item postion */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.one {
    /* placing the 1st item in the 6 grid cell  */
    grid-area: 2 / 3 / 3 / 4;
}

.two {
    grid-area: 2 / 1 / 3 / 4;
}





