* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-column-gap: 5px;
    grid-row-gap: 12px;
    grid-auto-rows: 100px;
}

.item {
    background-color: aqua;
    border: 1px solid red;
}

.one {
    grid-area: 1 / 1 / 2 / 4;
}
.three {
    grid-template-rows: 2 / 3;
    grid-template-columns: 2 / 4;
}





