* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-rows:[row-1-start] 100px [row-2-start] 100px [row-3-start] 200px [row-3-end];
    grid-template-columns:[col-1-start] 100px [col-2-start] 100px [col-3-start] 200px [col-3-end];
}

.item {
    background-color: aqua;
    border: 1px solid red;
}

.one {
    grid-row: row-1-start / row-2-start;
    grid-column: col-1-start / col-3-start;
}

.three {
    grid-row: row-1-start / row-1-end;
    grid-column: col-1-start / col-3-start;
}




