*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: linear-gradient(rgb(157, 157, 238),grey);
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
    justify-content: center;
    margin-left: 90px;
    
  }
  
  input[type="submit"]{
    padding: 15px 15px;
    color: white;
    background: rgba(255, 0, 221, 0.89);
    border: none;
    border-radius: 15px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 15px;
  }
  
  .input input[type="text"]{
    
    width: 400px;
    height: 35px;
    padding: 5px 10px;
    background: #cec8c8;
    border: none;
    border-radius: 15px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    border: 2px solid rgb(255, 123, 0);
    width: 30%;
    background: #e7e7e7;
    height: 55vh;
    margin: 50px auto;
    border-radius: 5px;
    justify-content: center;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }