.post-container {
  border: 1px solid maroon;
  background-color: rgb(116, 130, 130);
  display: flex;
  flex-wrap: wrap;
}

.post-div{
  border: 5px solid rgb(4, 128, 0);
  margin: 5px;
  width: calc(100vw - 100px)
}

